@import "../../styles/variables";

.collections_section .swiper {
    padding-bottom: 230px !important;
}
.collections_section .swiper-slide {
    // width: 100% !important;
    height: 360px !important;
}
.collections_section .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin: 0 10px !important;
    background: rgba(186, 76, 39, 0.8) !important;
}
.collections_section .swiper-pagination-bullet-active {
    background: $brown !important;
}

@media (min-width: 768px) {
    .collections_section .swiper {
        padding-bottom: 200px !important;
    }
    .collections_section .swiper-wrapper {
        align-items: center !important;
    }
    .collections_section .swiper-slide-prev,
    .collections_section .swiper-slide-next {
        position: relative;
        width: 22.455% !important;
        height: 400px !important;
    }
    .collections_section .swiper-slide-prev::before,
    .collections_section .swiper-slide-next::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }
    .collections_section .swiper-slide-active {
        width: 48.802% !important;
        height: 500px !important;
    }
    .collections_section .swiper-slide div b,
    .collections_section .swiper-slide div p,
    .collections_section .swiper-slide div a {
        display: none !important;
    }
    .collections_section .swiper-slide-active div b,
    .collections_section .swiper-slide-active div p,
    .collections_section .swiper-slide-active div a {
        display: inline-block !important;
    }
}

@media (min-width: 1024px) {
    .collections_section .swiper-slide-prev,
    .collections_section .swiper-slide-next {
        width: 23.383% !important;
        height: 550px !important;
    }
    .collections_section .swiper-slide-active {
        width: 48.922% !important;
        height: 625px !important;
    }
}

@media (min-width: 1440px) {
    .collections_section .swiper {
        // padding-bottom: 230px !important;
    }
    .collections_section .swiper-slide-prev,
    .collections_section .swiper-slide-next {
        width: 23.925% !important;
        height: 550px !important;
    }
    .collections_section .swiper-slide-active {
        width: 42.979% !important;
        height: 625px !important;
    }
}
