// alex brush, gfs didot, graduate, nanum myeongjo, nanum gothic 폰트
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=GFS+Didot&family=Graduate&family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap");

// color palette
$black: #222;
$ivory: #f6f1eb;
$light_gray: #f5f5f5;
$brown: #ba4c27;
$white: rgba(255, 255, 255, 0.9);

:root {
    --black-color: #{$black};
    --ivory-color: #($ivory);
    --light-gray-color: #{$light_gray};
    --brown-color: #($brown);
    --white-color: #{$white};
}

// font family
$font_family_korean: "Nanum Myeongjo", serif;
$font_family_korean_caption: "Nanum Gothic", sans-serif;
$font_family_english_title_btn: "GFS Didot", serif;
$font_family_english_hero: "Graduate", serif;
$font_family_english_script: "Alex Brush", cursive;

// font size
$font_size_section_title: 3.125rem; // 50px
$font_size_paragraph: 1.125rem; // 18px
$font_size_caption: 1rem; // 16px
$font_size_button: 1.375rem; // 22px
$font_size_mobile_section_title: 2.5rem; // 40px
$font_size_mobile_paragraph: 1rem; // 16px
$font_size_mobile_caption: 0.875rem; // 14px
$font_size_mobile_button: 1rem; // 16px

// line height
$line_height_section_title: 1;
$line_height_paragraph: 1.43;
$line_height_mobile_paragraph: 1.38;

// letter spacing
$letter_spacing_section_title: -0.06em;
$letter_spacing_paragraph: -0.04em;
$letter_spacing_caption: -0.03em;

// font weight
$font_weight_semi_bold: 600;
$font_wegiht_light: 300;
$font_weight_regular: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;

// shadow
$box_shadow_medium: 0 4px 12px 0 rgba(0, 59, 76, 0.2); // card
$box_shadow_large: 0 12px 24px -2px rgba(0, 59, 76, 0.2); // image
