@import "../../styles/mixins";
@import "../../styles/variables";

main {
    .intro_section {
        margin: 0;
        margin-top: 75px;
        padding: 378px 0 37px;
        background: url("/img/intro_section_photo.png") no-repeat center/cover;

        .container {
            width: auto;

            .text_box {
                @include flex_column;
                gap: 42px;
                width: 76.944%;
                padding: 20px 8.333% 15px 5.555%;
                margin-left: auto;
                background: rgba(255, 255, 255, 0.9);

                .title_box {
                    margin-bottom: 0;
                    text-align: left;

                    span {
                        display: inline-block;
                        padding-left: 10px;
                        font-family: $font_family_english_title_btn;
                        font-size: 14px;
                        letter-spacing: 0.25em;
                        color: $black;
                    }
                    h3 {
                        margin-top: 3px;
                        font-family: $font_family_english_hero;
                        font-weight: 300;
                        font-size: 50px;
                        color: $black;
                    }
                }
                .get_started_btn {
                    @include flex_column;
                    gap: 5px;
                    align-self: flex-end;
                    letter-spacing: 0.15em;
                    color: $black;

                    .right_arrow {
                        width: 113px;
                        height: 12px;
                        align-self: flex-end;
                        background: url("/img/intro_section_arrow_mobile.svg")
                            no-repeat center/cover;
                    }
                }
            }
        }
    }
    .story_section {
        position: relative;
        margin: 0;

        .brown_box {
            width: 100%;
            height: 266px;
            background: $brown;
            z-index: 1;
        }
        .bg_photo {
            position: absolute;
            top: 111px;
            right: 0%;
            width: 91.388%;
            height: 253px;
            background: url("/img/story_section_photo.png") no-repeat center 20% /
                cover;
            z-index: 2;
        }
        position: relative;
        width: auto;

        .artisanship {
            position: absolute;
            top: 70px;
            right: 5.555%;
            font-size: 50px;
            font-family: $font_family_english_title_btn;
            letter-spacing: -0.05em;
            z-index: 3;
            color: rgba(246, 241, 235, 0.7);
            text-transform: uppercase;
        }
        .gray_box {
            background: $light_gray;

            .text_box {
                width: 82.222%;
                margin: 0 auto;
                padding: 130px 0 70px;

                .title {
                    font-size: 50px;
                    letter-spacing: -0.05em;
                }
                .paragraph.paragraph1 {
                    margin: 20px 0;
                }
                .paragraph {
                }
            }
        }
    }
    .introduce_section {
        .container {
            .title_box {
                .line.before {
                }
                .title {
                }
                .line.after {
                }
            }
            .img_text_box {
                @include flex_column;
                gap: 120px;

                // 공통
                > div {
                    @include flex_column;
                    gap: 20px;

                    .img_box {
                        .bg_photo {
                            width: 100%;
                            height: 200px;
                        }
                    }
                    .text_box {
                        .caption {
                            font-size: 14px;
                            font-family: $font_family_korean_caption;
                            letter-spacing: -0.03em;
                            color: $black;
                        }
                        .title {
                            color: $brown;
                            margin-bottom: 15px;
                        }
                        .paragraph {
                            color: $black;
                        }
                    }
                }
                .entrepreneurship_box {
                    .img_box {
                        .bg_photo.first {
                            display: none;
                        }
                        .bg_photo.second {
                            background: url("/img/introduce_section_entrepreneurship_2.png")
                                no-repeat center 10% / cover;
                        }
                        .bg_photo.third {
                            display: none;
                        }
                    }
                    .text_box {
                        text-align: right;

                        .caption {
                        }
                        .title {
                        }
                        .paragraph {
                        }
                    }
                }
                .freedom_box {
                    .text_box {
                        .caption {
                        }
                        .title {
                        }
                        .paragraph {
                        }
                    }
                    .img_box {
                        .bg_photo {
                            background: url("/img/introduce_section_freedom.png")
                                no-repeat center/cover;
                        }
                    }
                }
                .brand_box {
                    .img_box {
                        .bg_photo {
                            background: url("/img/introduce_section_brand.png")
                                no-repeat center/cover;
                        }
                    }
                    .text_box {
                        .caption {
                        }
                        .title {
                        }
                        .paragraph {
                        }
                    }
                }
                .network {
                    .text_box {
                        text-align: right;

                        .caption {
                        }
                        .title {
                        }
                        .paragraph {
                        }
                    }
                    .img_box {
                        .bg_photo {
                            background: url("/img/introduce_section_network.png")
                                no-repeat center/cover;
                        }
                    }
                }
            }
        }
    }
    .heart_section {
        width: 100%;
        height: 770px;
        background: $black;

        .container {
            position: relative;
            height: 100%;

            .hermes {
                position: absolute;
                top: 70px;
                right: 0;
                font-size: 100px;
                font-family: $font_family_english_script;
                color: $brown;
                letter-spacing: -0.03em;
                z-index: 2;
            }
            .created_by_the_heart {
                display: none;
            }
            p {
                position: absolute;
                left: 0;
                bottom: 70px;
                font-family: $font_family_korean;
                font-weight: $font_weight_bold;
                font-size: 18px;
                color: $ivory;
                line-height: 1.433rem;
            }
            .bg_box {
                .bg_photo_woman {
                    position: absolute;
                    top: 170px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100%;
                    height: 380px;
                    background: url("/img/heart_section_photo_1.png") no-repeat
                        center/cover;
                }
                .bg_photo_man {
                }
            }
        }
    }
    .development_section {
        .container {
            text-align: center;
            color: $black;

            .title_box {
                margin-bottom: 0;

                span {
                    font-family: $font_family_english_title_btn;
                    font-size: 40px;
                    letter-spacing: -0.05em;
                }
                .title {
                    margin: 5px 0 15px;
                    font-family: $font_family_english_script;
                    font-size: 60px;
                    color: $brown;
                }
            }
            .text_box {
                b {
                    font-family: $font_family_korean;
                    font-size: 20px;
                    font-weight: $font_weight_bold;
                    letter-spacing: -0.06em;
                }
                .paragraph {
                    margin: 30px 0 50px;
                }
                a.more_btn {
                }
            }
        }
    }
    .product_section {
        .container {
            .title_box {
                .line.before {
                }
                .title {
                }
                .line.after {
                }
            }
            .product_swiper {
            }
            .more_btn {
                margin-top: 50px;
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        .intro_section {
            padding: 184px 0 311px;
            background: url("/hermes/img/intro_section_photo.png") no-repeat 80%
                center/ cover;

            .container {
                width: 86.979%;

                .text_box {
                    gap: 110px;
                    width: 51.646%;
                    padding: 0;
                    background: none;

                    .title_box {
                        span {
                            padding-left: 25px;
                            font-size: 20px;
                            letter-spacing: 0.25em;
                        }
                        h3 {
                            font-size: 80px;
                            color: $black;
                        }
                    }
                    .get_started_btn {
                        gap: 15px;
                        font-size: 20px;
                        letter-spacing: 0.25em;

                        .right_arrow {
                            width: 170px;
                            height: 12px;
                            background: url("/img/intro_section_arrow.svg")
                                no-repeat center/cover;
                        }
                    }
                }
            }
        }
        .story_section {
            background: $light_gray;

            .brown_box {
                width: 77.213%;
                height: 366px;
                margin-left: auto;
            }
            .bg_photo {
                top: 166px;
                right: auto;
                left: 9.31%;
                width: 78.125%;
                height: 410px;
            }
            .artisanship {
                top: 100px;
                right: 6.51%;
                font-size: 80px;
            }
            .gray_box {
                .text_box {
                    width: 82.222%;
                    margin: 0 auto;
                    padding: 240px 0 100px;

                    .title {
                        font-size: 80px;
                    }
                    .paragraph.paragraph1 {
                        margin: 30px 0 20px;
                    }
                    .paragraph {
                    }
                }
            }
        }
        .introduce_section {
            .container {
                .title_box {
                    .line.before {
                    }
                    .title {
                    }
                    .line.after {
                    }
                }
                .img_text_box {
                    gap: 150px;

                    // 공통
                    > div {
                        gap: 40px;

                        .img_box {
                            .bg_photo {
                                height: 360px;
                            }
                        }
                        .text_box {
                            .caption {
                                font-size: 16px;
                            }
                            .title {
                                margin-top: 0px;
                                margin-bottom: 20px;
                            }
                            .paragraph {
                            }
                        }
                    }
                    .entrepreneurship_box {
                        .img_box {
                            .bg_photo.first {
                                display: block;
                                width: 65.868%;
                                background: url("/img/introduce_section_entrepreneurship_1.png")
                                    no-repeat center/cover;
                            }
                            .bg_photo.second {
                                width: 73.353%;
                                height: 336px;
                                margin-left: 12.239%;
                                margin-top: -167px;
                            }
                            .bg_photo.third {
                            }
                        }
                        .text_box {
                            width: 87.125%;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .freedom_box {
                        width: 87.125%;
                        margin-left: auto;

                        .text_box {
                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                        .img_box {
                            .bg_photo {
                                background: url("/img/introduce_section_freedom.png")
                                    no-repeat center/cover;
                            }
                        }
                    }
                    .brand_box {
                        .img_box {
                            .bg_photo {
                                width: 87.125%;
                                background: url("/img/introduce_section_brand.png")
                                    no-repeat center/cover;
                            }
                        }
                        .text_box {
                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .network {
                        .text_box {
                            text-align: right;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                        .img_box {
                            .bg_photo {
                                background: url("/img/introduce_section_network.png")
                                    no-repeat center/cover;
                            }
                        }
                    }
                }
            }
        }
        .heart_section {
            height: 890px;

            .container {
                .hermes {
                    top: 95px;
                    font-size: 150px;
                    z-index: 2;
                }
                .created_by_the_heart {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: 110%;
                    color: rgba(246, 241, 235, 0.8);
                    font-size: 60px;
                    font-family: $font_family_english_title_btn;
                    letter-spacing: -0.05em;
                    z-index: 2;
                    text-transform: uppercase;
                    text-align: center;
                }
                p {
                    left: 0;
                    bottom: 110px;
                    z-index: 2;
                }
                .bg_box {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transform: translate(-50%, -50%);
                    width: 87.179%;
                    z-index: 1;

                    .bg_photo_woman {
                        position: static;
                        width: 51.358%;
                        height: 467px;
                        transform: translate(0);
                    }
                    .bg_photo_man {
                        display: block;
                        width: 48.681%;
                        height: 366px;
                        background: url("/img/heart_section_photo_2.png")
                            no-repeat center/cover;
                    }
                }
            }
        }
        .development_section {
            .container {
                .title_box {
                    span {
                        font-size: 80px;
                    }
                    .title {
                        margin: -20px 0 20px;
                        font-size: 120px;
                    }
                }
                .text_box {
                    b {
                        font-size: 25px;
                    }
                    .paragraph {
                        margin: 35px 0 50px;
                    }
                    a.more_btn {
                    }
                }
            }
        }
        .product_section {
            .container {
                .title_box {
                    .line.before {
                    }
                    .title {
                    }
                    .line.after {
                    }
                }
                .product_swiper {
                }
                .more_btn {
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    main {
        .intro_section {
            position: relative;
            padding: 310px 0 446px;
            background: none;

            .bg_photo {
                position: absolute;
                top: 0;
                left: 0;
                width: 83.203%;
                height: 1069px;
                background: url("/img/intro_section_photo.png") no-repeat
                    center/cover;
                z-index: 1;
            }
            .container {
                width: 90.625%;

                .text_box {
                    position: relative;
                    width: 46.443%;
                    z-index: 2;

                    .title_box {
                        span {
                            padding-left: 36px;
                            font-size: 25px;
                        }
                        h3 {
                            font-size: 100px;
                        }
                    }
                    .get_started_btn {
                        font-size: 25px;
                        letter-spacing: 0.25em;

                        .right_arrow {
                        }
                    }
                }
            }
        }
        .story_section {
            @include flex_column;

            .brown_box {
                width: 79.882%;
            }
            .bg_photo {
                top: 228px;
                right: auto;
                left: 12.695%;
                width: 58.593%;
            }
            .artisanship {
                top: 150px;
                right: 13.671%;
                font-size: 100px;
            }
            .gray_box {
                .text_box {
                    width: 68.421%;
                    padding: 320px 0 150px 12.695%;
                    margin: 0;

                    .title {
                    }
                    .paragraph.paragraph1 {
                        margin: 50px 0 30px;
                    }
                    .paragraph {
                    }
                }
            }
        }
        .introduce_section {
            .container {
                .title_box {
                    .line.before {
                    }
                    .title {
                    }
                    .line.after {
                    }
                }
                .img_text_box {
                    gap: 100px;

                    // 공통
                    > div {
                        flex-direction: row;
                        gap: 30px;

                        .img_box {
                            .bg_photo {
                            }
                        }
                        .text_box {
                            .caption {
                            }
                            .title {
                                margin-top: 15px;
                                margin-bottom: 30px;
                            }
                            .paragraph {
                            }
                        }
                    }
                    .entrepreneurship_box {
                        .img_box {
                            width: 51.077%;

                            .bg_photo.first {
                                width: 92.827%;
                                height: 360px;
                            }
                            .bg_photo.second {
                                width: 73.206%;
                                height: 410px;
                                margin-left: auto;
                                margin-top: -100px;
                            }
                            .bg_photo.third {
                            }
                        }
                        .text_box {
                            width: auto;
                            margin-top: 203px;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .freedom_box {
                        justify-content: flex-end;
                        align-items: center;
                        width: 100%;
                        margin-left: auto;

                        .text_box {
                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                        .img_box {
                            width: 48.922%;
                            .bg_photo {
                                width: 100%;
                                height: 454px;
                            }
                        }
                    }
                    .brand_box {
                        .img_box {
                            width: 48.922%;
                            .bg_photo {
                                width: 100%;
                                height: 480px;
                            }
                        }
                        .text_box {
                            margin-top: 80px;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .network {
                        justify-content: flex-end;

                        .text_box {
                            margin-top: 67px;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                        .img_box {
                            width: 48.922%;

                            .bg_photo {
                                width: 100%;
                                height: 300px;
                            }
                        }
                    }
                }
            }
        }
        .heart_section {
            .container {
                .hermes {
                    top: 25px;
                    font-size: 200px;
                }
                .created_by_the_heart {
                    font-size: 80px;
                }
                p {
                    left: 8.512%;
                }
                .bg_box {
                    width: 70.258%;

                    .bg_photo_woman {
                        width: 57.515%;
                        height: 512px;
                    }
                    .bg_photo_man {
                        width: 42.484%;
                        height: 392px;
                    }
                }
            }
        }
        .development_section {
            .container {
                .title_box {
                    span {
                        font-size: 100px;
                    }
                    .title {
                        margin-top: -25px;
                        margin-bottom: 20px;
                        font-size: 120px;
                    }
                }
                .text_box {
                    b {
                    }
                    .paragraph {
                        margin: 45px 0 70px;
                    }
                    a.more_btn {
                    }
                }
            }
        }
        .product_section {
            .container {
                .title_box {
                    .line.before {
                    }
                    .title {
                    }
                    .line.after {
                    }
                }
                .product_swiper {
                }
                .more_btn {
                    display: none;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    main {
        .intro_section {
            margin-top: 97px;
            padding: 305px 0 416px;

            .bg_photo {
                width: 68.125%;
                height: 1093px;
            }
            .container {
                width: 1396px;

                .text_box {
                    width: 765px;

                    .title_box {
                        display: block;

                        span {
                            padding-left: 50px;
                        }
                        h3 {
                            font-size: 150px;
                        }
                    }
                    .get_started_btn {
                        .right_arrow {
                        }
                    }
                }
            }
        }
        .story_section {
            .brown_box {
                margin-right: auto;
                margin-left: 0;
                width: 38.229%;
                height: 910px;
            }
            .bg_photo {
                top: 180px;
                right: auto;
                left: 24.218%;
                width: 27.604%;
                height: 670px;
            }
            .artisanship {
                top: 463px;
                right: auto;
                left: -2.355%;
                transform: rotate(-90deg);
            }
            .gray_box {
                position: absolute;
                right: 0;
                width: 61.77%;

                .text_box {
                    width: 588px;
                    padding: 316px 0 229px 0;
                    margin: 0;
                    margin-left: 28.667%;

                    .title {
                    }
                    .paragraph.paragraph1 {
                    }
                    .paragraph {
                    }
                }
            }
        }
        .introduce_section {
            .container {
                .title_box {
                    .line.before {
                    }
                    .title {
                    }
                    .line.after {
                    }
                }
                .img_text_box {
                    gap: 60px;

                    // 공통
                    > div {
                        .img_box {
                            .bg_photo {
                            }
                        }
                        .text_box {
                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .entrepreneurship_box {
                        .img_box {
                            width: 806px;

                            .bg_photo.first {
                                width: 472px;
                                height: 397px;
                            }
                            .bg_photo.second {
                                width: 436px;
                                height: 336px;
                                margin-left: auto;
                                margin-top: -270px;
                                background: url("/img/introduce_section_entrepreneurship_3.png")
                                    no-repeat center/cover;
                            }
                            .bg_photo.third {
                                display: block;
                                width: 392px;
                                height: 420px;
                                margin-top: -170px;
                                margin-left: 150px;
                                background: url("/img/introduce_section_entrepreneurship_2.png")
                                    no-repeat center/cover;
                            }
                        }
                        .text_box {
                            margin-top: 193px;
                            margin-left: auto;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .freedom_box {
                        gap: 184px;

                        .text_box {
                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                        .img_box {
                            width: 570px;
                            .bg_photo {
                                width: 100%;
                                height: 570px;
                            }
                        }
                    }
                    .brand_box {
                        gap: 137px;

                        .img_box {
                            width: 570px;
                            .bg_photo {
                                width: 100%;
                                height: 480px;
                            }
                        }
                        .text_box {
                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                    }
                    .network {
                        gap: 139px;

                        .text_box {
                            margin-top: 263px;

                            .caption {
                            }
                            .title {
                            }
                            .paragraph {
                            }
                        }
                        .img_box {
                            width: 686px;

                            .bg_photo {
                                width: 100%;
                                height: 518px;
                            }
                        }
                    }
                }
            }
        }
        .heart_section {
            height: 890px;

            .container {
                .hermes {
                    top: 70px;
                }
                .created_by_the_heart {
                    font-size: 120px;
                }
                p {
                    left: 118px;
                    bottom: 150px;
                }
                .bg_box {
                    width: auto;

                    .bg_photo_woman {
                        width: 488px;
                        height: 666px;
                    }
                    .bg_photo_man {
                        width: 362px;
                        height: 510px;
                    }
                }
            }
        }
        .development_section {
            .container {
                .title_box {
                    flex-direction: column;
                    gap: 0;

                    span {
                    }
                    .title {
                        margin-top: -15px;
                        margin-bottom: 25px;
                    }
                }
                .text_box {
                    b {
                    }
                    .paragraph {
                        margin: 45px 0 70px;
                    }
                    a.more_btn {
                    }
                }
            }
        }
        .product_section {
            .container {
                .title_box {
                    .line.before {
                    }
                    .title {
                    }
                    .line.after {
                    }
                }
                .product_swiper {
                }
                .more_btn {
                    display: flex;
                }
            }
        }
    }
}
