@import "../../styles/variables";
@import "../../styles/mixins";

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background: $ivory;
    z-index: 10;

    .container {
        @include flex_between;

        .logo {
            a {
                img {
                    width: 62px;
                }
            }
        }
        .menu_btn {
            position: relative;
            width: 30px;
            height: 20px;

            span {
                position: absolute;
                left: 0;
                display: inline-block;
                width: 100%;
                height: 3px;
                background: $black;
                transition: 0.3s;
            }
            span:nth-child(2) {
                top: 0;
            }
            span:nth-child(3) {
                top: 50%;
                transform: translateY(-50%);
            }
            span:nth-child(4) {
                bottom: 0;
            }
            &.active {
                span:nth-child(2) {
                    transform: translateY(7px) rotate(45deg);
                }
                span:nth-child(3) {
                    opacity: 0;
                    transform: translateX(-10px);
                }
                span:nth-child(4) {
                    transform: translateY(-10px) rotate(-45deg);
                }
            }
        }
        nav {
            position: absolute;
            top: 75px;
            left: 100%;
            display: block;
            width: 100%;
            height: 100vh;
            background: $ivory;
            transition: 0.2s;

            ul {
                padding: 15px 0;

                li {
                    cursor: pointer;

                    a {
                        position: relative;
                        display: block;
                        width: 82.222%;
                        height: 100%;
                        margin: 0 auto;
                        padding: 15px 0;
                        font-size: 50px;
                        color: $black;
                        letter-spacing: -0.03em;
                        font-family: $font_family_english_script;
                        z-index: 1;

                        &:after {
                            content: "";
                            position: absolute;
                            width: 0;
                            height: 20px;
                            background: #fff;
                            left: 0;
                            bottom: 30px;
                            z-index: -1;
                            transition: 0.3s;
                        }
                        &:hover:after {
                            width: 180px;
                        }
                    }
                }
            }
            &.active {
                left: 0;
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        .container {
            .logo {
                a {
                    img {
                    }
                }
            }
            .menu_btn {
                span {
                }
                span:nth-child(2) {
                }
                span:nth-child(3) {
                }
                span:nth-child(4) {
                }
                &.active {
                    span:nth-child(2) {
                    }
                    span:nth-child(3) {
                    }
                    span:nth-child(4) {
                    }
                }
            }
            nav {
                ul {
                    li {
                        a {
                            width: 86.979%;

                            &:hover {
                            }
                        }
                    }
                }
                &.active {
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    header {
        .container {
            .logo {
                a {
                    img {
                        width: 100px;
                    }
                }
            }
            .menu_btn {
                width: 40px;
                height: 25px;

                span {
                }
                span:nth-child(2) {
                }
                span:nth-child(3) {
                }
                span:nth-child(4) {
                }
                &.active {
                    span:nth-child(2) {
                        transform: translateY(11px) rotate(45deg);
                    }
                    span:nth-child(3) {
                    }
                    span:nth-child(4) {
                        transform: translateY(-11px) rotate(-45deg);
                    }
                }
            }
            nav {
                top: 97px;

                ul {
                    li {
                        a {
                            width: 90.625%;

                            &:hover {
                            }
                        }
                    }
                }
                &.active {
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    header {
        .container {
            .logo {
                a {
                    img {
                    }
                }
            }
            .menu_btn {
                span {
                }
                span:nth-child(2) {
                }
                span:nth-child(3) {
                }
                span:nth-child(4) {
                }
                &.active {
                    span:nth-child(2) {
                        transform: translateY(12px) rotate(45deg);
                    }
                    span:nth-child(3) {
                    }
                    span:nth-child(4) {
                    }
                }
            }
            nav {
                ul {
                    li {
                        a {
                            width: 1396px;

                            &:hover {
                            }
                        }
                    }
                }
                &.active {
                }
            }
        }
    }
}
